<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
	<title>分享购买</title>
	<script type="text/javascript">
		var _ratio = 1.0;
		
		$(function() {
			scalingByRatio();
		});
    	
    	function scalingByRatio() {
    		var width = $(document.body).width();
    		_ratio = parseFloat(width / 640);
    		
			$("#topImg").css({
		        "width": 640 * _ratio,
		        "height": 533 * _ratio
		    });
			$("#share").css({
		        "width": 367 * _ratio / 2,
		        "height": 309 * _ratio / 2,
		        "left": 400 * _ratio,
		        "top": 30 * _ratio
		    });
			$("a").css({
		        "width": 450 * _ratio,
		        "font-size": 36 * _ratio + "px"
		    });
			$("button").css({
		        "width": 450 * _ratio,
		        "font-size": 36 * _ratio + "px"
		    });
    	}

		function showShare() {
			$("#share").show();
		}
	</script>
</head>
<body>
	<div layout:fragment="content" style="background-color: #e3e2e2">
		<p>
			<img id="topImg" src="/img/p4/p42.jpg" />
			<img id="share" src="/img/p4/share.png" style="display: none; position: absolute; z-index: 1; left: 400px; top: 30px" />
		</p>
		<p class="text-center">
			<a href="#" class="btn btn-primary btn-lg" style="background: #1c2c58; width: 400px">点击运付费抢松塔（限量）</a>
		</p>
		<p class="text-center">
			<a href="#" class="btn btn-primary btn-lg" style="background: #1c2c58; width: 400px">点击参与预售</a>
		</p>
		<p class="text-center">
			<button class="btn btn-warning btn-lg" onclick="showShare()" style="background: #f26522; width: 400px; color: white">点击分享页面</button>
		</p>
	</div>
</body>
</html>
